/* -- PHONES MEDIA -- */
@media screen and (max-width: 767px) {
  .jumbotron.jumbotron-coord {
    display: block !important;
    border: none;
    margin-top: 1px;
  }
  .jumbotron.jumbotron-coord.flex {
    display: flex !important;
    border: none;
    justify-content: flex-start !important;
  }
  .bg-white {
    justify-content: center;
  }
}
/* -- PHONES AND TABLES MEDIA -- */
@media screen and (max-width: 767px) {
}
