$bg-color: #F5F2F2;
$white-color: #FFFFFF;
$coord-light-blue-color: #106EB9;
$coord-dark-blue-color: #094E84;
$coord-aqua-color: #56C2D6;
$coord-yellow-color: #D6C756;
$coord-gray-color: #DDDDDD;
$coord-light-gray-color: #B9B9B9;
$title-color: #656565;
$coord-green-color: #91D656;